<!doctype html>
<html lang="en">
  <head>
	<% include ../partials/head %>
    <title>Login</title>
  </head>
  <body>
	<p><%= user %></p>
	<a href="/logout">Log out</a>
	<% include ../partials/footScript %>
  </body>
</html>